<div class="index__wrapper">
  <%-include('partials/header'); %> <%-include('partials/image'); %><%-
  include('partials/dropZone'); %> <%- include('partials/buttons'); %>
  <%-include('partials/loader'); %> <%-include('partials/resultsModal'); %>
  <%-include('partials/searchModal'); %> <%-include('partials/countModal'); %>
</div>
